---
const themes = [
  { name: "light", label: "Light" },
  { name: "default", label: "Default" },
  { name: "dark", label: "Dark" },
  { name: "dracula", label: "Dracula" },
  { name: "nord", label: "Nord" },
];
---

<select
  id="theme-selector-dropdown"
  aria-label="Select Theme"
  class="mx-auto p-2 my-2 bg-bg_elevated text-fg_base border-1 block w-full px-4 py-2 border border-accent"
>
  {
    themes.map((theme) => (
      <option value={theme.name} class="p-4 m-4">
        {theme.label} Theme
      </option>
    ))
  }
</select>

<script>
  const dropdown = document.getElementById(
    "theme-selector-dropdown"
  ) as HTMLSelectElement;

  const applyTheme = (theme: string) => {
    document.documentElement.setAttribute("data-theme", theme);
    localStorage.setItem("site-theme", theme);
    dropdown.value = theme;
  };

  dropdown.addEventListener("change", (event) => {
    const selectedTheme = (event.target as HTMLSelectElement).value;
    applyTheme(selectedTheme);
  });

  // Initial theme application
  const currentTheme = localStorage.getItem("site-theme") || "light";
  applyTheme(currentTheme);
</script>
