@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Dark Theme */
  :root {
    --background-base: #0e0f13;
    --background-surface: #13151b;
    --background-elevated: #181b22;
    --text-base: #fefffe;
    --text-muted: #9ba1b0;
    --text-subtle: #6c717f;

    --accent-purple: #b052f7;
    --accent-blue: #526cf7;
    --accent-cyan: #52dff7;
    --accent-teal: #52f7d6;
    --accent-green: #52f75f;
    --accent-yellow: #f7df52;
    --accent-orange: #f79652;
    --accent-red: #f75253;

    --accent-purple-transparent: #b052f7a2;
    --accent-blue-transparent: #526cf7a2;
    --accent-cyan-transparent: #52dff7a2;
    --accent-teal-transparent: #52f7d6a2;
    --accent-green-transparent: #52f75fa2;
    --accent-yellow-transparent: #f7df52a2;
    --accent-orange-transparent: #f79652a2;
    --accent-red-transparent: #f75253a2;

    /* Code Theme Colors */
    --astro-code-color-background: var(--background-surface);
    --astro-code-color-text: var(--text-base);
    --astro-code-token-constant: var(--accent-orange);
    --astro-code-token-string: var(--accent-green);
    --astro-code-token-comment: var(--text-subtle);
    --astro-code-token-keyword: var(--accent-purple);
    --astro-code-token-parameter: var(--accent-yellow);
    --astro-code-token-function: var(--accent-blue);
    --astro-code-token-string-expression: var(--accent-cyan);
    --astro-code-token-punctuation: var(--accent-red);
    --astro-code-token-link: var(--accent-red);
  }

  [data-theme="dark"] {
    --background-base: #0e0f13;
    --background-surface: #13151b;
    --background-elevated: #181b22;
    --text-base: #fefffe;
    --text-muted: #9ba1b0;
    --text-subtle: #6c717f;

    --accent-purple: #b052f7;
    --accent-blue: #526cf7;
    --accent-cyan: #52dff7;
    --accent-teal: #52f7d6;
    --accent-green: #52f75f;
    --accent-yellow: #f7df52;
    --accent-orange: #f79652;
    --accent-red: #f75253;

    --accent-purple-transparent: #b052f7a2;
    --accent-blue-transparent: #526cf7a2;
    --accent-cyan-transparent: #52dff7a2;
    --accent-teal-transparent: #52f7d6a2;
    --accent-green-transparent: #52f75fa2;
    --accent-yellow-transparent: #f7df52a2;
    --accent-orange-transparent: #f79652a2;
    --accent-red-transparent: #f75253a2;

    /* Code Theme Colors */
    --astro-code-color-background: var(--background-surface);
    --astro-code-color-text: var(--text-base);
    --astro-code-token-constant: var(--accent-orange);
    --astro-code-token-string: var(--accent-green);
    --astro-code-token-comment: var(--text-subtle);
    --astro-code-token-keyword: var(--accent-purple);
    --astro-code-token-parameter: var(--accent-yellow);
    --astro-code-token-function: var(--accent-blue);
    --astro-code-token-string-expression: var(--accent-cyan);
    --astro-code-token-punctuation: var(--accent-red);
    --astro-code-token-link: var(--accent-red);
  }

  [data-theme="light"] {
    --background-base: #f1f3f5;
    --background-surface: #e6e9ef;
    --background-elevated: #d0d5dc;
    --text-base: #1c1e26;
    --text-muted: #6c717f;
    --text-subtle: #9ba1b0;

    --accent-purple: #6a2bde;
    --accent-blue: #4a71e1;
    --accent-cyan: #2bc3e5;
    --accent-teal: #3cc9b8;
    --accent-green: #4caf50;
    --accent-yellow: #f1c40f;
    --accent-orange: #f39c12;
    --accent-red: #e74c3c;

    --accent-purple-transparent: #6a2bdea2;
    --accent-blue-transparent: #4a71e1a2;
    --accent-cyan-transparent: #2bc3e5a2;
    --accent-teal-transparent: #3cc9b8a2;
    --accent-green-transparent: #4caf50a2;
    --accent-yellow-transparent: #f1c40fa2;
    --accent-orange-transparent: #f39c12a2;
    --accent-red-transparent: #e74c3ca2;

    /* Code Theme Colors */
    --astro-code-color-background: var(--background-surface);
    --astro-code-color-text: var(--text-base);
    --astro-code-token-constant: var(--accent-orange);
    --astro-code-token-string: var(--accent-green);
    --astro-code-token-comment: var(--text-subtle);
    --astro-code-token-keyword: var(--accent-purple);
    --astro-code-token-parameter: var(--accent-yellow);
    --astro-code-token-function: var(--accent-blue);
    --astro-code-token-string-expression: var(--accent-cyan);
    --astro-code-token-punctuation: var(--accent-red);
    --astro-code-token-link: var(--accent-red);
  }
}

@layer base {
  * {
    @apply scroll-smooth transition-transform box-border;
  }

  body {
    @apply bg-background_base text-text_base;
  }
}

h1 {
  @apply scroll-m-20 text-4xl font-bold lg:text-5xl tracking-tight pt-2;
}

h2 {
  @apply mt-5 scroll-m-20 border-b pb-2 text-3xl tracking-wide first:mt-0;
}

h3 {
  @apply mt-3 scroll-m-20 text-2xl tracking-tight;
}

h4 {
  @apply mt-2 scroll-m-20 text-xl tracking-tight;
}

p {
  @apply [&:not(:first-child)]:mt-2;
}

a {
  @apply no-underline text-text_base hover:text-accent_red;
}

::selection {
  @apply bg-text_base text-background_base;
}

/* ===== scrollbar ===== */

/* width */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-background_surface rounded;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-text_subtle border-background_surface rounded;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-accent_red_transparent;
}

/* ===== codeblock ===== */

.astro-code {
  @apply p-4 mt-2 hover:bg-accent_blue_transparent hover:text-text_base;
}

code {
  @apply bg-transparent font-mono;
}

/* ===== prose ===== */

.prose {
  @apply flex flex-col gap-2;
}

.prose * {
  @apply my-2;
}

.prose iframe {
  @apply w-full aspect-video h-auto;
}

.prose code:not(.astro-code code) {
  @apply bg-background_elevated text-accent_red py-1 px-2 rounded font-mono;
}

.prose p {
  @apply text-text_muted;
}

.prose ul > li {
  @apply text-text_muted py-1 list-disc;
  padding-left: 1.5rem;
}
.prose ol > li {
  @apply text-text_muted py-1 list-decimal;
  padding-left: 1.5rem;
}

.prose strong {
  @apply text-text_base;
}
