---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="pt-16 lg:pt-48 lg:px-8 px-4 flex flex-col">
    <h1>Special Menu</h1>
    <p>
      Lorem ipsum odor amet, consectetuer adipiscing elit. Natoque luctus
      aliquam velit vehicula eget venenatis. Felis velit mus pellentesque
      inceptos faucibus enim class. Amet posuere velit eleifend class dis diam
      phasellus. Habitasse facilisis torquent non condimentum rutrum nunc ligula
      natoque augue. Phasellus class dictum dignissim metus dui. Scelerisque
      pharetra hendrerit nunc nec dictumst; dui ac proin. Diam gravida ut montes
      nam litora inceptos. Vulputate malesuada elementum aptent felis porta
      taciti mi semper euismod. Aenean mollis at mus ipsum fringilla praesent
      pharetra. Scelerisque aliquam habitasse lectus malesuada vestibulum.
      Lobortis gravida habitasse at, inceptos integer phasellus. Nulla
      adipiscing class dis senectus porta. Lectus mollis erat ultricies potenti
      vitae pharetra malesuada congue. Penatibus maecenas sit; felis quis congue
      ornare efficitur augue. Faucibus curabitur at primis odio habitasse dolor
      suspendisse. Eleifend libero lobortis augue pretium arcu habitant nulla
      montes tortor. Dis ante condimentum nam luctus augue primis tincidunt
      efficitur at. Porta rhoncus purus libero at commodo morbi vitae potenti.
      Volutpat porttitor viverra faucibus accumsan neque nam mauris. Dapibus
      vehicula vestibulum quam euismod laoreet varius amet. Quis sociosqu felis
      nec ante ornare porta. Taciti blandit iaculis pulvinar neque non; conubia
      rutrum ante amet. Phasellus placerat elementum maximus convallis augue.
      Nascetur taciti fringilla cursus euismod curae nibh aliquam. Urna
      penatibus ligula massa a aliquet morbi. Purus tristique malesuada proin
      quisque parturient vivamus suscipit efficitur. Accumsan ex ultrices dis
      bibendum metus sagittis tempus hac. Mattis mauris vel sodales a metus
      arcu. Fringilla lacinia suscipit nam primis montes rhoncus cubilia? Sit
      mus quam dictum nulla torquent luctus vivamus ligula dolor. Vitae nostra
      ligula cras mi porttitor ex vitae ad aliquam. Imperdiet nunc massa;
      conubia condimentum finibus viverra. Hendrerit molestie nostra phasellus
      netus parturient magna dis donec feugiat. Interdum montes sodales
      convallis dis ante. Taciti libero urna; enim tincidunt interdum mattis.
    </p>
  </div>
</BaseLayout>
