---
import BaseLayout from "@/layouts/BaseLayout.astro";

import type { SideNavItem } from "@/lib/types";

const nav_item: SideNavItem[] = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "Articles",
    href: "/article",
  },
  {
    label: "Project",
    href: "/project",
  },
];
---

<BaseLayout>
  <h1 transition:name="about">This is my world</h1>
</BaseLayout>
