---

---

<div
  class="flex flex-col items-center lg:items-start cursor-default justify-center relative"
  id="whoami"
>
  <h1 class="text-6xl md:text-8xl p-0 text-accent_red font-mono" id="name">
    Rajesh Das
  </h1>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const name: any = document.getElementById("name");
    const whoami: any = document.getElementById("whoami");

    whoami.addEventListener("mouseover", () => {
      name.innerText = "Hyperoot";
      name.dataset.value = "Hyperoot";
      const letters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyz";
      let interval: any = null;
      let iteration = 0;
      clearInterval(interval);

      interval = setInterval(() => {
        name.innerText = name.innerText
          .split("")
          .map((letter: any, index: any) => {
            if (index < iteration) {
              return name.dataset.value[index];
            }

            return letters[Math.floor(Math.random() * 62)];
          })
          .join("");

        if (iteration >= name.dataset.value.length) {
          clearInterval(interval);
        }

        iteration += 1 / 3;
      }, 30);
    });

    whoami.addEventListener("mouseout", () => {
      name.innerText = "Rajesh Das";
      name.dataset.value = "Rajesh Das";
      const letters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyz";
      let interval: any = null;
      let iteration = 0;
      clearInterval(interval);

      interval = setInterval(() => {
        name.innerText = name.innerText
          .split("")
          .map((letter: any, index: any) => {
            if (index < iteration) {
              return name.dataset.value[index];
            }

            return letters[Math.floor(Math.random() * 62)];
          })
          .join("");

        if (iteration >= name.dataset.value.length) {
          clearInterval(interval);
        }

        iteration += 1 / 3;
      }, 30);
    });
  });
</script>
