---
import { Icon } from "astro-icon/components";

import { Socials } from "@/config";
---

<div class="flex gap-2 py-4">
  {
    Socials.filter((social) => social.active).map((social) => (
      <a
        href={social.href}
        target="_blank"
        class="no-underline aspect-square p-2 text-text_base hover:text-accent_red rounded flex"
      >
        <button class="">
          <Icon name={social.name} class="w-[1.4rem] h-[1.4rem]" />
        </button>
      </a>
    ))
  }
</div>
