---
import { Icon } from "astro-icon/components";
---

<div class="sticky bottom-8 flex justify-end py-4">
    <div
        onclick="scrollToTop()"
        id="back-to-top"
        class="no-underline opacity-0 bg-lighter text-darkest aspect-square rounded p-2 h-auto w-auto flex"
    >
        <button class="">
            <Icon name="arrow-up" class="aspect-square w-[1.4rem] h-[1.4rem]" />
        </button>
    </div>
</div>

<script is:inline>
    function backToTop() {
        const button = document.querySelector("#back-to-top");

        function toggleButtonVisibility() {
            if (window.scrollY > window.innerHeight / 2) {
                button.classList.remove("opacity-0");
                button.classList.add("opacity-100");
            } else {
                button.classList.remove("opacity-100");
                button.classList.add("opacity-0");
            }
        }

        button.addEventListener("click", () => {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
        });

        window.addEventListener("scroll", toggleButtonVisibility);
    }

    backToTop();
</script>
