---
import HeadSEO from "@/components/core/HeadSEO.astro";
import Menu from "@/components/core/Menu.astro";
import ThemeSelector from "@/components/core/ThemeSelector.astro";

import { LOCALE, SITE } from "@/config";

import type { BaseLayoutProps } from "@/lib/types";
import { capitalizeFirstLetter } from "@/lib/utils";

const { title, description, image, imageAlt, contentType } =
  Astro.props as BaseLayoutProps;
---

<html lang=`${LOCALE.lang ?? "en"}`>
  <head>
    <HeadSEO
      title=`${title ? capitalizeFirstLetter(title) : SITE.title}`
      description={description}
      image={image}
      imageAlt={imageAlt}
      contentType={contentType}
    />
  </head>

  <body>
    <main class="flex justify-center">
      <div class="fixed top-0 right-0">
        <Menu />
      </div>
      <div class="fixed bottom-0 right-0">
        <ThemeSelector />
      </div>
      <div class="flex flex-col lg:flex-row flex-1 lg:px-[10%]">
        <slot />
      </div>
    </main>
  </body>
</html>
